<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>エラーページ</title>
</head>

<body>
<p>
<span th:text="'エラー内容 :' + ${errorInfo.level} " ></span><br/>
<span th:text="'エラー原因 :' + ${errorInfo.cause} " ></span><br/>
<span th:text="'発生箇所 :' + ${errorInfo.place} " ></span><br/>
<span th:text="'対処方法 :' + ${errorInfo.workaround} " ></span><br/>
<span th:text="'エラーコード :' + ${errorInfo.errorCode} " ></span><br/>
<span th:text="'オリジナルのエラー:' + ${(errorInfo.originalExp != null) ? errorInfo.originalExp.cause : ''}" ></span><br/>
<span style="visibility:hidden;" th:utext="'スタックトレース:' + ${errorInfo.stackTrace} " ></span><br/>
</p>

</body>
</html>
